<!DOCTYPE html>
<html>
<head>
    <% include head.ejs %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <% include navigation.ejs %>
    </div>
</nav>
<div class="container">
    <%- body %>
</div>
</body>
</html>