<% layout('boilerplate') -%>
<h3>Расчет стоимости эвакуатора</h3>
<hr>
<form class="form-horizontal" id="orderForm">
    <fieldset>
        <div class="col-xs-6 form-group">
            <label class="col-lg-3 control-label" for="srcAddress">Откуда:</label>
            <div class="input-group col-lg-9" style="padding: 0 15px">
                <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                <input class="form-control" id="srcAddress" type="text">
                <span class="input-group-btn">
                    <button type="button" id="srcButton" class="btn btn-default pull-right">Отметить</button>
                </span>
            </div>
        </div>
        <div class="col-xs-6 form-group">
            <label class="col-lg-3 control-label" for="dstAddress">Куда:</label>
            <div class="input-group col-lg-9" style="padding: 0 15px">
                <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                <input class="form-control" id="dstAddress" type="text">
                <span class="input-group-btn">
                    <button type="button" id="dstButton" class="btn btn-default pull-right">Отметить</button>
                </span>
            </div>
        </div>
        <div class="col-xs-6 form-group">
            <label class="col-lg-3 control-label" for="vehicleWeight">Масса а/м:</label>
            <div class="col-lg-9">
                <select class="form-control" id="vehicleWeight">
                    <option value="0">До 1000 кг</option>
                    <option value="1">До 1500 кг</option>
                    <option value="2">До 2000 кг</option>
                    <option value="3">До 2500 кг</option>
                    <option value="4">До 3500 кг</option>
                </select>
                <div class="checkbox">
                    <label class="col-lg-6 control-label pull-right"><input type="checkbox" id="nigthRate">Ночной тариф</label>
                </div>
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <button type="button" id="calcButton" class="btn btn-success pull-right">Расчитать</button>
        </div>
        <div class="col-xs-12 form-group">
            <hr class="col-xs-12">
        </div>
    </fieldset>
</form>
<div id="map" style="width: 100%; height: 500px;"></div>
<div >
<label for="fullName">Ваше имя:</label>
<input type="text" name="fullName" id="fullName">
<label for="phone">Контактный телефон:</label>
<input type="text" name="phone" id="phone">
<label for="comment">Комментарий:</label>
<br>
<textarea name="comment" id="comment"></textarea>
<button class="btn btn-primary">Заказать</button>
</div>
<div class="col-xs-12 form-group">
<hr class="col-xs-12">
</div>