<% layout('boilerplate') -%>
<h2>Вызов эвакуатора</h2>
<p>
    Вы круглосуточно можете заказать эвакуатор в компании "ELEPHANT" или вызвать заранее к определенному времени.
    Вызов эвакуатора без праздников и выходных в любой район Абакана и области от <span style="font-weight: bold">1300 рублей</span> в час.<br>
</p>
<div class="alert alert-warning" role="alert">
    <span style="font-weight: bold">В цену уже включена подача эвакуатора в пределах города.</span>
</div>
<p>
    Телефон эвакуатора:
</p>
<p>
    <span>(999)999-11-11</span>
    <br>
    <span>(999)999-11-11</span>
</p>
<p>
    Обращаем ваше внимание на то, что наша спецтехника рассредоточена по всем районам СПб, поэтому мы быстро приходим на помощь!
    Если Вы хотите быстро вызвать эвакуатор, то наша фирма это именно то, что Вам нужно.
</p>
<p>
    Совершая заказ эвакуатора, уточните диспетчеру какой у Вас автомобиль, это поможет определить какую именно технику
    необходимо использовать при его транспортировке. В нашем автопарке только новые машины, которые оснащены необходимым
    оборудованием для бережной погрузки и перевозки вашего автомобиля.
</p>
<p>
    Наш офис :<br>
    999999, Абакан, УлицаТакаята=), 45
</p>
<p>
    Наша группа:<br>
    <a href="#">LINK ON VK GROUP</a>
</p>
<p>
    Чтобы осуществить заказ эвакуатора в Абакане вы можете позвонить по  телефону указанному на сайте или оформить онлайн заявку.
</p>
<h3>Заказать эвакуатор в Абакане:</h3>
<ul>
    <li>
        с лебедкой - самый распространённый вид. Осуществляет погрузку легковых и грузовых автомобилей с помощью выдвижных аппарелей и лебедки.
        Электрическая лебедка позволяет без труда затащить автомобиль на стационарную платформу.
        Такой способ отлично подходит для перевозки машин, которые не в состоянии самостоятельно передвигаться после небольшого
        ДТП или просто не завелся двигатель.
    </li>
    <li>
        со сдвижной платформой.  У данного типа  платформа может принимать наклонное положение,
        в сочетании с лебедкой это позволяет грузить автомобили в любом состоянии и с большой массой.
    </li>
</ul>
<p>
    Когда будете делать вызов эвакуатор по Абакану, уточните диспетчеру какой у Вас автомобиль,
    так как необходимо знать какого типа необходимо подать эвакуатор.
</p>
