<% layout('boilerplate') -%>
<div class="row">
    <div class="col-md-9">
        <h2>Эвакуатор дешево и быстро в Абакане</h2>
        <p>
            Компания <b>ELEPHANT</b> работает на всей территории Абакана и (<span style="color: red">TODO</span>) области. Мы осуществляем
            эвакуацию автомобилей в 1, 2 и другие города России. Получив Ваш звонок или заявку, диспетчер
            незамедлительно отправит эвакуатор машин в указанное вами место. Специалисты по перевозке за максимально
            короткое время доставят транспорт по указанному адресу.
            С нашей компанией вызвать эвакуатор - это дешево и быстро. Вы можете сами рассчитать стоимость перевозки вашего
            автомобиля, воспользовавшись онлайн калькулятором. Обратившись в нашу службу эвакуации автомобилей, Вы можете
            быть уверены в качестве предоставленных услуг.
        </p>

        <h2>Главные преимущества службы эвакуации автомобилей:</h2>
        <ul>
            <li>Эвакуатор 24 часа. Мы готовы круглосуточно прийти Вам на помощь.</li>
            <li>Парк техники состоит только из новых машин 2012 года(<span style="color: red">TODO</span>).</li>
            <li>Оперативная помощь в любом месте.</li>
            <li>Безопасность перевозки. Бережная и аккуратная эвакуация автомобилей от начального пункта до пункта
                заявленного клиентом.
            </li>
            <li>Наша служба эвакуации предлагает услуги по транспортировки спецтехники.</li>
            <li>Гарантия качества. Мы исключаем любые риски неисполнения своих обязательств перед клиентом.</li>
            <li>Высококвалифицированные водители. Наши специалисты имеют большой опыт работы и перевозок всех видов
                транспорта.
            </li>
            <li>Самая выгодная цена на эвакуатор по городу. Только у нас эвакуатор в Абакане стоит так дешево.</li>
        </ul>
        <p>Заказать эвакуатор машин круглосуточно в Абакане вы можете, позвонив нам по телефону
            <span style="white-space: nowrap">8 (999) 999-11-11</span> или оставить заявку на сайте.</p>
        <p>Служба эвакуации <b>ELEPHANT</b> работает без выходных.</p>
    </div>
    <div class="col-md-3">
        <div class="sidebar-nav-fixed affix" style="width: 18%">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Дополнительные услуги:</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav ">
                        <li><a href="/services/motorcycle">Перевозка мотоциклов</a></li>
                        <li><a href="/services/soberdriver">Услуга "Трезвый водитель"</a></li>
                        <li><a href="/services/specialtechnics">Эвакуация спецтехники</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Города и районы:</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav ">
                        <li>TODO not been realized, awaiting customer. Supposed links to the lists of prices by region</li>
                        <!--<li><a href="#">Эвакуатор по районам Абакана</a></li>-->
                        <!--<li><a href="#">Эвакуатор по городам Какой то области</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>