<% layout('boilerplate') -%>
<h2>Цена на эвакуатор</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Выезд на место и эвакуация автомобиля весом</th>
            <th colspan="2">Город(первый час/послед. 20 мин)</th>
            <th>Ленинградская область и межгород (свыше 20км)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>до 1500 кг</td>
            <td>
                <p>1300 руб</p>
                <p><span style="text-decoration: line-through;">1500 руб</span></p>
            </td>
            <td>500 руб</td>
            <td>40 руб/км</td>
        </tr>
        <tr>
            <td>до 2000 кг</td>
            <td>
                <p>1400 руб</p>
                <p><span style="text-decoration: line-through">1600 руб</span></p>
            </td>
            <td>500 руб</td>
            <td>45 руб/км</td>
        </tr>
        <tr>
            <td>до 2500 кг</td>
            <td>
                <p>1500 руб</p>
                <p><span style="text-decoration: line-through">1700 руб</span></p>
            </td>
            <td>600 руб</td>
            <td>50 руб/км</td>
        </tr>
        <tr>
            <td>
                до 3500 кг<br>
                (броневики, катки, погрузчики и другая спецтехника)
            </td>
            <td>
                <p>1800 руб</p>
                <p><span style="text-decoration: line-through">2000 руб</span></p>
            </td>
            <td>700 руб</td>
            <td>55 руб/км</td>
        </tr>
        <tr>
            <td>
                Погрузка и разгрузка транспортного средства<br>
                <em>с заблокированными или поврежденными колесами</em>
            </td>
            <td colspan="2">
                <p>300 руб - колесо</p>
            </td>
            <td>300 руб - колесо</td>
        </tr>
    </tbody>
</table>
<p>Подача эвакуатора - 200 рублей</p>
<p>Надбавка за вызов эвакуатора  с 24-00 до 7-00 - 500 рублей</p>
<h3>Подача эвакуатора за пределы Города</h3>
<ul>
    <li>до 20 км - 200 руб</li>
    <li>до 50 км - 300 руб</li>
    <li>до 100 км - 500 руб</li>
    <li>свыше 100 км - 1000 руб</li>
</ul>
<p><a href="/contact">Телефон эвакуатора</a></p>
<h2>Возможные изменения стоимости эвакуатора в Абакане:</h2>
<ol>
    <li>Время работы эвакуатора исчисляется с момента прибытия на место вызова.</li>
    <li>Оплата первого часа работы и каждых последующих 20 мин фиксирована, независимо от времени работы.</li>
    <li>Простой эвакуатора на месте загрузки (разгрузки) по вине заказчика тарифицируется по 20 минут.</li>
    <li>
        Отказ от эвакуации по вине заказчика оплачивается в размере 50% от стоимости работы эвакуатора  за один час,
        а при загрузке вне Абакана, дополнительно, оплачивается пробег эвакуатора от города до места нахождения эвакуатора на момент отказа.
    </li>
</ol>
<p>
    Эвакуация за границами КАД:
</p>
<ol>
    <li>При эвакуации автомобиля на расстояние более 100 км вносится предоплата в размере 60 % от стоимости заказа.</li>
    <li>Обязательным условием для эвакуации является наличие документов на машину.</li>
    <li>Стоимость эвакуатора для перевозки автомобиля в другой город России оговаривается отдельно.</li>
</ol>
<p>
    Так же предоставляем услуги эвакуатора по перевозки мото и спецтехники, услугу Трезвый водитель и снятие авто с автовозов по выгодным ценам.
</p>