<% layout('boilerplate') -%>
<h2>Услуги эвакуатора по транспортировке автомобилей</h2>
<p>Наша компания предлагает следующие услуги эвакуатора:</p>
<ul>
    <li>Перевозка легковых автомобилей по России</li>
    <li>Транспортировка машины с места аварии в пределах КАД от 1300 рублей, в зависимости от типа авто</li>
    <li>Транспортировка автомобилей в другой город</li>
    <li>Услуга "Трезвый водитель"</li>
</ul>
<p>Дополнительно у нас Вы можете вызвать легковую машину, которая доставит Ваших пассажиров по нужным адресам и
    по низким ценам.</p>

<h2>Перевозка легковых автомобилей по России</h2>
<p>
    Кроме перевозки легковых автомобилей по Спб и области, мы занимаемся транспортировкой машин в другие города
    России.
    Такие маршруты тарифицируются отдельно, так как стоимость будет зависеть от дальности перевозки и сроков
    доставки в назначенный пункт.
    Качество и безопасность транспортировки автомобилей в нашей компании обеспечивается современными
    эвакуаторами,
    высококвалифицированными водителями и ответственными диспетчерами. Мы всегда рады предложить свои услуги
    эвакуатора тем,
    кому понадобилась быстрая и качественная транспортировка машины в пределах города или перевозка автомобилей
    по России.
</p>
<ul>
    <li><a href="/services/motorcycle">Перевозка мотоциклов</a></li>
    <li><a href="/services/soberdriver">Услуга "Трезвый водитель"</a></li>
    <li><a href="/services/specialtechnics">Эвакуация спецтехники</a></li>
</ul>