<% layout('boilerplate') -%>
<ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="/portfolio">Наша работа</a></li>
    <li class="active">Перевозка штабелера из Кировска</li>
</ol>
<h2>Эвакуатор из Кировска</h2>
<p>
    Очень часто в последнее время, заказывают эвакуатор в пригороды, так как такая перевозка обходится дешевле.
    Поэтому в нашу зону обслуживанию входят все города области, и Кировск в том числе.
</p>
<p>
    Кировск - небольшой город, являющейся административным центром Кировского района Лен.области.
    От края Санкт-Петербурга до Кировска по трассе М-18 около 30 км.
    Стоимость вызова <span style="font-weight: bold">от 2000 рублей</span>
</p>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Недавно нашей службой был транспортирован на предприятие штабелер:</h3>
    </div>
    <div class="panel-body">
        <span style="font-weight: bold">Маршрут</span> - Кировск, ул. Северная, 4 -  Санкт-Петербург, ул. Предпортовая, 4.<br>
        <span style="font-weight: bold">Время в пути</span> - 1 час.<br>
        <span style="font-weight: bold">Расстояние</span> - 54 км<br>
        <span style="font-weight: bold">Цена</span> - 2400 рублей (35 рублей за 1 км.  + 500 рублей подача)
    </div>
</div>
<p>
    <span>
        <img style="width: 100%" src="/images/marshrut-kirovsk.jpg">
    </span>
</p>
<p>
    Мы работаем со всеми видами техники 24 часа в сутки. Поэтому, если вам понадобился эвакуатор Кировск, просто свяжитесь с нами!
</p>
<p>
    Мы гарантируем:
</p>
<ul>
    <li>доступные цены;</li>
    <li>быстроту реагирования;</li>
    <li>высокий уровень сервиса;</li>
    <li>команду профессионалов;</li>
</ul>

TODO ЛЕНТА С ФОТОГРАФИЯМИ!