<% layout('boilerplate') -%>
<ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="/services">Услуги</a></li>
    <li class="active">Перевозка мотоциклов</li>
</ol>
<h2>Перевозка мотоциклов на эвакуаторе</h2>
<div class="media">
    <div class="media-body">
        <p>
            В случае, если в дороге с Вашим мотоциклом случилась неприятность или он просто нуждается в транспортировке,
            наша компания может Вам в этом помочь. Мы 24 часа готовы предоставить специальный эвакуатор для вашего мотоцикла.
            Перевозка мотоциклов начинается от 1200 рублей.
        </p>
        <p>
            Перевозка мотоцикла может понадобится в следующих  случаях:
        </p>
        <ul>
            <li>
                если Вы купили мотоцикл, но пока не получили права или просто не можете воспользоваться своим транспортным
                средством из-за неблагоприятных погодных условий;
            </li>
            <li>если Вам требуется перевозка мотоцикла с места аварии, когда его транспортировка своим ходом невозможна;</li>
            <li>если Вам необходимо добраться до ГИБДД;</li>
            <li>если нужно перегнать из салона в салон новый мотоцикл.</li>
        </ul>
    </div>
    <div class="media-right">
        <a href="#">
            <img class="media-object" src="/images/motorcycle.jpg" alt="Эвакуация мотоциклов">
        </a>
    </div>
</div>
<p>
    Грамотная перевозка мотоциклов осуществляется только при помощи специальных тросов, которые надежно фиксируют
    мотоцикл на платформе спецтехники. Наши эвакуаторы способны перевозить одновременно сразу несколько мотоциклов.
    Это весьма удобно при подготовке, например, к участию в моторшоу и гонках.
</p>
<p>
    Эвакуация и перевозка мотоциклов – дело, требующее определенных знаний и опыта. Мы заключаем договор с каждым
    клиентом и даем ему абсолютную гарантию на оказание качественных услуг по перевозке мотоциклов.
</p>
<p>
    Так же предлагем популярную услугу Трезвый водитель по выгодным ценам в любое время. Мы работаем без выходных.
</p>