<% layout('boilerplate') -%>
<ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="/services">Услуги</a></li>
    <li class="active">Эвакуатор для спецтехники</li>
</ol>
<h2>Эвакуатор для спецтехники</h2>
<div class="media">
    <div class="media-body">
        <p>Наши тарифы: эвакуатор спецтехники <span style="font-weight: bold">от 1700 руб.</span></p>
        <p>
            Эвакуатор спецтехники – довольно востребованная услуга на рынке Санкт-Петербурга и всей Ленинградской области.
            Начиная с 2000 года, многие строительные фирмы расширили и обновили свой автопарк техники.
            Естественно, спецтехника является весьма дорогой, и многое зависит от эффективности ее эксплуатации.
            Но немаловажную роль также играют способы ее перемещения до пункта назначения и эвакуации в случае необходимости.
        </p>
        <p>
            Наша компания осуществляет услуги как по перевозке специальной строительной техники в черте города и за его
            пределами, так и ее эвакуацию. Просто позвоните нам, и все Ваши проблемы будут решены:<br>
            (999) 999-11-11 и (999) 111-99-99.<br>
            Наши менеджеры с удовольствием ответят на все интересующие Вас вопросы.
        </p>
        <p>
            Как правило, эвакуация спецтехники сопряжена с определенными особенностями и трудностями,
            которые связаны с характеристиками самих машин. Наши опытные специалисты подберут для каждого отдельного
            вида спецтехники свой тип эвакуатора.
        </p>
        <ol>
            <li>Трактора транспортируются на эвакуаторе с низкой или со сдвижной платформой. Катки и погрузчики перемещаются так же;</li>
            <li>Электростанции эвакуируются техникой с манипулятором.</li>
            <li>Тонары перевозятся или обычным образом, или при помощи манипулятора.</li>
        </ol>
    </div>
    <div class="media-right">
        <a href="#">
            <img class="media-object" src="/images/tow_truck_special_technics.jpg" alt="Эвакуация мотоциклов">
        </a>
    </div>
</div>
<p>
    Эвакуатор для спецтехники предполагает транспортировку тяжелой техники. Но Вы можете быть уверенными,
    что у нашей компании обязательно найдется необходимый в Вашем случае тип эвакуатора со всеми креплениями и приспособлениями.
    Так же предлагаем услугу -  <a href="/services/motorcycle">перевозка мотоциклов</a>, имеем возможность в  перевозки нескольких мото сразу.
    Мы работаем без праздников и выходных.
</p>